.wrapper

  = render 'shared/sidebar'

  .content
    .content__top
      .content__top__left
        %p.content__top__left__groupname Meiji
        %p.content__top__left__groupmembers Members: kaesaru2000 test01 test 02
      .content__top__right
        %p.content__top__right__editbutton Edit
    .content__middle
      .content__middle__message
        = render partial: 'shared/message', collection: @messages
    .content__buttom
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
