.wrapper

  = render 'shared/sidebar'

  .content
    .content__top
      .content__top__left
        %p.content__top__left__groupname
          = @group.name
        %p.content__top__left__groupmembers
          - @users.each do |user|
            = user.name
      .content__top__right
        %p.content__top__right__editbutton Edit
    .content__middle
      %ul.content__middle__message
        = render partial: 'shared/message', collection: @messages
    .content__buttom
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message', id: 'js-textfield'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
